:root {
    /* colors */
    --light-primary-blue: #DAE7EE;
    --light-secondary-blue: #385B6C;
    --light-dark-text: #2b2b2b;
    --light-primary-text: #4f4f4f;
    --light-secondary-text: #777777;

}