:root {
    /* colors */
    --light-primary-blue: #DAE7EE;
    --light-secondary-blue: #385B6C;
    --light-dark-text: #2b2b2b;
    --light-primary-text: #4f4f4f;
    --light-secondary-text: #777777;

}

.page-content-container{
    padding: 10vh 18vw;
    padding-bottom: 0;
    min-height: 57vh;
    height: fit-content;
}

.bold-blue-text{
    font-weight: bold;
    color: var(--light-secondary-blue);
}

.light-theme-content{
    color: var(--light-primary-text);
    line-height: 1.75;
}

.remove-underline{
    text-decoration: none;
}

.anchor-tag-link{
    color: var(--light-primary-text);
}

.anchor-tag-link:hover{
    color: var(--light-dark-text);
}

.primary-text-font{
    font-size: 1em;
    line-height: 1.75;
}


body{
    overflow-y: auto;
    
}

@media (min-width: 41em) and (max-width: 80em) {
    .page-content-container{
        padding: 10vh 12vw;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 40em) {
    .page-content-container{
        padding: 4vh 8vw;
        padding-bottom: 0;
    }
}