:root {
    /* colors */
    --light-primary-blue: #DAE7EE;
    --dark-primary-blue: #2A3940;


    --light-secondary-blue: #385B6C;
    --dark-secondary-blue: #67BBE4;

    --light-bg: #f5f5f5;
    --dark-bg: #2b2b2b;

    --light-primary-text: #4f4f4f;
    --dark-primary-text: #b3bdc2;


}

.light-theme{
    --background: var(--light-bg);
    --primary-blue: var(--light-primary-blue);
    --secondary-blue: var(--light-secondary-blue);
    --primary-text: var(--light-primary-text);
}

.dark-theme{
    --background: var(--dark-bg);
    --primary-blue: var(--dark-primary-blue);
    --secondary-blue: var(--dark-secondary-blue);
    --primary-text: var(--dark-primary-text);
}

.page-content-container{
    padding: 10vh 18vw;
    padding-bottom: 0;
    height: fit-content;
    background-color: var(--background);
}

.bold-blue-text{
    font-weight: bold;
    color: var(--secondary-blue);
}

.light-theme-content{
    color: var(--primary-text);
    line-height: 1.75;
}

.remove-underline{
    text-decoration: none;
}

.anchor-tag-link{
    color: var(--primary-text);
}

.anchor-tag-link:hover{
    color: var(--dark-text);
}

.primary-text-font{
    font-size: 1em;
    line-height: 1.75;
}


body{
    overflow-y: auto;
    
}

@media (min-width: 41em) and (max-width: 80em) {
    .page-content-container{
        padding: 10vh 12vw;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 40em) {
    .page-content-container{
        padding: 4vh 8vw;
        padding-bottom: 0;
    }
}