.section-heading{
    font-size: 1.5em;
    margin-bottom: 6px;
}

.subheading-container{
    display: flex;
    justify-content: space-between;
}

.section-subheading{
    margin: 0;
    font-size: 1em;
    color: var(--primary-text);
}

.view-more-link{
    color: var(--primary-text);
    font-size: 1em;
}

.postcards{
    max-width: 16em;
    object-fit: contain;
    margin-top: 16px;
}

#view-more-postcard-mobile{
    display: none;
}

#view-more-postcard-web{
    display: block;
}

.postcards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 4em;
}

.about-me-wrapper{
    background-color: var(--background);
}