.creative-postcards-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.creative-postcard{
    width: 15em;
    min-width: 14em;
    object-fit: contain;
    margin-top: 16px;
    margin-bottom: 48px;
}

.view-more-container{
    font-size: 16px;
    padding-bottom: 10vh;
    text-align: center;
}

.view-more{
    color: var(--light-secondary-blue);
}

#mobCreative{
    display: none;
}

#webCreative{
    display: block;
}

.mob-postcard{
    width: 100%;
    object-fit: contain;
}