.creative-postcards-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.creative-postcard{
    width: 312px;
    min-width: 196px;
    object-fit: contain;
    margin-top: 16px;
    margin-bottom: 48px;
}

.view-more-container{
    font-size: 16px;
    padding-bottom: 10vh;
    text-align: center;
}

.view-more{
    color: var(--light-secondary-blue);
}