/* work css */
.work-container{
    margin-bottom: 5em;
}
.work-card{
    display: flex;
    background: var(--background);
    box-sizing: border-box;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2.5em;
    align-items: center;
    padding: 1em;
}

.card-heading{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.card-subheading{
    margin: 0;
    color: var(--primary-text);
    font-size: 16px;
}

.card-content{
    font-size: 16px;
    color: var(--primary-text);
}

.card-data{
    padding: 1.2em;
}

.action-btn{
    background-color: var(--primary-blue);
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    color: var(--secondary-blue);
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
}

.action-btn:hover{
    background-color: var(--secondary-blue);
    color: var(--primary-blue);
}

.card-img{
    width: 3vw;
    object-fit: contain;
    margin-right: 1em;
    border-radius: 100%;
    border: 1px solid #e5e5e5;
}

.card-img-container{
    display: flex;
    align-items: center;
}

/* blog css*/

.blog-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
    padding-bottom: 4em;
}

.blog-card{
    max-width: 45%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
}

.blog-img{
    max-width: 100%;
    height: auto;
}

.blog-heading{
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-blue);
    margin-bottom: 0;
}

.blog-subheading{
    font-size: 16px;
    color: var(--primary-text);
    margin-top: 0.25em;
}

.blog-link{
    color: var(--primary-text);
    float: right;
    font-size: 16px;
}

.blog-link:visited{
    color: var(--dark-primary-text);
}

.work-wrapper{
    background-color: var(--background);
}
