.button{
    padding: 0.8em 2em;
    background-color: var(--light-secondary-blue);
    color: var(--light-primary-blue);
    align-items: center;
    font-size: 1em;
    letter-spacing: 0.08em;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 3em;
    text-align: center;
    width: fit-content;
}

.button:hover{
    cursor: pointer;
}