.footer{
    text-align: center;
    font-size: 14px;
    color: var(--light-secondary-text);
    display: block;
    width: 100%;
    margin-bottom: 6px;
}

.footer-link{
    color: var(--light-secondary-text);
}

.footer-link:hover{
    color: var(--light-primary-text);
}