.footer{
    text-align: center;
    font-size: 14px;
    color: var(--light-secondary-text);
    display: inline;
    width: 100%;
    position: absolute;
    bottom: 6px;
}

.footer-link{
    color: var(--light-secondary-text);
}