.footer{
    text-align: center;
    font-size: 14px;
    color: var(--primary-text);
    display: block;
    width: 100%;
    padding-bottom: 6px;
}

.footer-link{
    color: var(--primary-text);
}

.footer-link:hover{
    color: var(--primary-text);
}

@media screen and (max-width: 40em) {
    .footer{
        font-size: 12px;
    }
}